<div class="row">
	<div class="col-lg-8">
		<h2><i class="fa fa-tasks"></i> VirtualHosts</h2>
	</div>
	<div class="col-lg-3 text-right">
		<div class="row">
			<br class="clear"/>
			<div class="col-lg-11">
				<div class="input-group custom-search-form">
					<input type="text" class="form-control" placeholder="Search...">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>

			<div class="col-lg-1">
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
					<i class="fa fa-tasks"></i> &nbsp;Create
				</button>
			</div>
		</div>
	</div>
</div>
<br class="clear"/>
<div class="row">
	<div class="col-lg-12">
		<div class="col-lg-2">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-tasks fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								google.com<br/>
								5/14/2015<br/>
								tiagodexter<br/>
								
							</div>
						</div>
					</div>
					<div class="panel-footer panel-primary">
						<div class="row text-center">
							<div class="col-lg-6">
								<a href="#"><i class="fa fa-edit"></i> Edit</a> 
							</div>
							<div class="col-lg-6">
								<a href="#"><i class="fa fa-trash"></i> Delete</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>