<!-- Button trigger modal -->
<div class="row">
	<div class="col-lg-6">
		<h2><i class="fa fa-users"></i> Users</h2>
	</div>
	<div class="col-lg-6 text-right">
		<br class="clear"/>
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
			<i class="fa fa-user"></i> &nbsp;Create
		</button>
	</div>
</div>
<br class="clear"/>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Create User</h4>
			</div>
			<form id="formCreateUser">
				<div class="modal-body">

					<label for="inputName" class="sr-only">Name</label>	
					<input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
					<label for="inputEmail" class="sr-only">Email address</label>					
					<input type="email" id="email" name="email" class="form-control" placeholder="Email address" required>
					<label for="inputLogin" class="sr-only">Name</label>	
					<input type="text" id="login" name="login" class="form-control" placeholder="Login" required>
					<label for="inputPassword" class="sr-only">Password</label>
					<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>       
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button class="btn btn-primary btn-lg" type="submit"><i class="fa fa-save"></i> Create</button>
				</div>
			</form>
		</div>
	</div>
</div>

<table id="tableListUsers" class="display">
	<thead>
		<tr>
			<th>Login</th>
			<th>Created date</th>
			<th>Action</th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<th>Login</th>
			<th>Created date</th>
			<th>Action</th>
		</tr>
	</tfoot>
	<tbody>		
		<% users.forEach(function (row) {
			var day = row.createdAt.getDate();
			var month = row.createdAt.getMonth()+1;
			var year = row.createdAt.getFullYear();
			var hour = row.createdAt.getHours();
			var min = row.createdAt.getMinutes();
			var dt = month+'/'+day+'/'+year+' '+hour+':'+min;
			%>			
			<tr>
				<td><%= row.login %></td>
				<td><%= dt %></td>
				<td>
					<button type="button" class="btn btn-warning" data-key="<%= row.id %>">Update</button>
					<button type="button" class="btn btn-danger" data-key="<%= row.id %>">Delete</button>
				</td>
			</tr>
			<% }) %>			
		</tbody>
	</table>
	<script type="text/javascript">
		formCreateUser();
		deleteUser();
		getInfoUser();
	</script>